* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  width: 100%;
  height: 100%;
  font-family: $font-family-serif;
  font-size: $font-size-base;
  color: $text-color;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

ul,
ol {
  list-style: none;
}

a {
  text-decoration: none;
  color: inherit;
  cursor: pointer;
}

img {
  max-width: 100%;
  height: auto;
  display: block;
}

button {
  border: none;
  outline: none;
  background: none;
  cursor: pointer;
  font-family: inherit;
}

input,
textarea {
  border: none;
  outline: none;
  font-family: inherit;
}

// 标题使用衬线字体
h1, h2, h3, h4, h5, h6 {
  font-family: $font-family-serif;
  font-weight: 500;
}


